<!-- Navigation -->
<header class="site-navbar" role="banner">
    <div class="site-navbar-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-8 col-md-12 order-2  site-search-icon text-left rnt">
                    <!-- <form action="" class="site-block-top-search">
            <span class="icon icon-search2"></span>
            <input type="text" class="form-control border-0" placeholder="Search" />
          </form> -->
          <div class="col-6 col-md-12 text-right">
            <span class="navbar-text">
                <a href="cart.html" class="site-cart">
                  <span class="icon  icon-shopping_cart"></span>
                                    <a href="{{instagram_url}}" target="_blank"><span class="icon icon-instagram"></span><span class="count" id="cart_count" style="visibility:hidden"></span>
                                    </span>
                                    </span>
        </div>
                    <div class="col-6 col-md-12 text-center">
                        <a href='/'><img src="/assets/images/logo/logo_large.jpg" height="100px" /></a>
                    </div>
                </div>
                <div class="col-4    col-md-12 order-1 text-center">

                    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ffffff00 !important;">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="shop.html">Shop</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li>
                            </ul>
                            
                        </div>
                    </nav>
                </div>
                <div class="col-2 col-md-2 order-2 order-md-2 text-right">
                </div>
            </div>
        </div>
    </div>

</header>