{% extends "layout.njk" %}

{% block content %}
<div class="site-section border-bottom" data-aos="fade">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="block-16">
                        <figure>
                            <img src="{{logo}}" alt="Image placeholder" class="img-fluid rounded">
                           <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo">
                                <span class="ion-md-play"></span></a>

                        </figure>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">

                    <div class="site-section-heading pt-3 mb-4">
                        <h2 class="text-black">About Us</h2>
                    </div>
                    <p>SUNNIES BY RICHIE is a boutique retailer and wholesaler of quality eyewear and eyewear accesories. This small business established in 2017 is the brainchild of owner and Managing Director RICHIEANN BOSTIC after realising there was a niche in the Bajan Market which was becoming more sophisticated. What was a huge risk at the time is now her labour of love.</p>
                    <p>SUNNIES BY RICHIE has a team which keeps their fingers on the pulse of the fashion and entertainment industry. The company prides itsselves on always being ahead of the curve but having the trending styles and colours for every occasion. As a result the website is a fluid one and is constantly updated with you, the customer in mind. Each style is handpicked by RICHIEANN still to ensure only the best frames, materials, accessories and suppliers for our customers. The over all goal is still and will always be keeping cost to a minimum.</p>
                    <p>"As a brand we are well aware of the economic climate. This guides Team Sunnies” every move towards Affordable luxury and the best value to you our customers. - RICHIEANN</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}