<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}

<div class="slideshow-container">

<div class="mySlides fade">
  
  <img src="assets/img/web-banner-min.jpg" style="width:100%">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  
  <img src="assets/img/banner-2.jpg" style="width:100%">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  
  <img src="assets/img/banner-02.1-min.jpg" style="width:100%">
  <div class="text">Caption Three</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
<div class="site-section site-section-sm text-center" >
<div class="container">
<p class="wel-txt">Welcome to the start of this unique adventure with SUNNIES BY RICHIE. We provides fashion and quality and accurate 
Professional prescriptions to every customer.
Be Unique!</p>
</div>

</div>
<div class="site-section site-section-sm " >
<div class="container">
<div class=" col-md-12 center"> 

<h2 class="center black heading line">It's So Simple</h2>
</div>
<div class="container row" style="    margin-left: 0;">

<div class="col-md-5 special1" ><div class="col-md-3 left"><img class="contain1" src="assets/img/glasses.png" style="margin-left: -97px;"></div><div class="col-md-8 right white"><h3>Let's Get Started</h3><p>See how to easy buy glasses online</p><a class="white">Shop Now</a></div></div>
<div class="col-md-5 special2" ><div class="col-md-8 left white"><h3>Let's Get Started</h3><p>See how to easy buy glasses online</p><a class="white">Shop Now</a></div><div class="col-md-3 right"><img class="contain1" src="assets/img/Image.png"></div></div>
</div>
</div>
<div class="container" style="">
<h2 class="center black"></h2>
<img style="max-width:100%" src="assets/img/add.jpg"></div>
</div>

<div class="site-section site-section-sm ">
    <div class="container">
    <div class=" col-md-12 col-sm-12 center"> 

<h2 class="center black heading line">Popular Styles</h2>
</div>
    <div class="row">
    <img class="col-6 col-md-3 popular-styles" src="assets/images/products/glasses_4.jpg">
    <img class="col-6 col-md-3 popular-styles" src="assets/images/products/glasses_4.jpg">
    <img class="col-6 col-md-3 popular-styles" src="assets/images/products/glasses_4.jpg">
    <img class="col-6 col-md-3 popular-styles" src="assets/images/products/glasses_4.jpg">
    </div>
    </div></div>

<div class="site-section site-section-sm ">
    <div class="container">
    <div class=" col-md-12 col-sm-12 center"> 

<h2 class="center black heading line">Top Categories</h2>
</div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
    
    <div class="col-md-6 col-sm-6 col-xs-6" style="">
<a href="#" class="">
<div class="col-md-12 col-sm-12  top-cat">
<h4 class="cat-title">Clearance</h4>
<p class="cat-desc">Starting at <strong>$19</strong></p>
<span class="cat-button">
Shop Clearance
</span>
</div>
</a>
<a href="#" class="">
<div class="col-md-12 col-sm-12 col-xs-12 bottom-cat">
<span class="cat-button">
Shop Clearance
</span>
</div>
</a>
</div>


<div class="col-md-6 col-sm-6 col-xs-6 right-cat " >
<span class="cat-button">
Shop Clearance
</span>
</div>
    
    
    </div>

    </div>
    </div></div>

<div class="site-section site-section-sm ">
    <div class="container">
    <div class=" col-md-12 col-sm-12 center"> 

<h2 class="center black heading line">Featured Frames</h2>
</div>
    <div class="col-md-12 col-sm-12 feature-sec">
    <div class="row">
    <a href="#" class="center col-6 col-md-6 col-sm-6">
<div class="">
<img class="" src="assets/img/9148_f_2.jpg">
<p class="feature-title">Muse M Classic Dark Shiny Tortoise</p>
<p class="red-price">$118</p>
</div>
</a>
<a href="#" class="center col-6 col-md-6 col-sm-6">
<div class="">
<img class="" src="assets/img/4387_f.jpg">
<p class="feature-title">Ray-Ban 7046 Black</p>
<p class="red-price">$143</p>
</div>
</a>

<a href="#" class="center col-6 col-md-6 col-sm-6">
<div class="">
<img class="" src="assets/img/4284_f.jpg">
<p class="feature-title">Ray-Ban 7047 Black</p>
<p class="red-price">$143</p>
</div>
</a>
<a href="#" class="center col-6 col-md-6 col-sm-6">
<div class="">
<img class="" src="assets/img/44-p3640_f.jpg">
<p class="feature-title">Ray-Ban 5228 Black</p>
<p class="red-price">$183</p>
</div>
</a>

    </div>
  
    </div>
    </div></div>


<div class="site-section site-section-sm ">
    <div class="container">
    <div class=" col-md-12 col-sm-12 center"> 

<h2 class="center black heading line">Trending Now</h2>
</div>
    <div class="col-md-12 col-sm-12">
    <div class="row">
    <a href="#" class="center col-6 col-md-6 col-sm-6 " style="padding-left:0;">
<div class="trend-left">
<div class="trend-inner">

<p class="trend-title">Sport <br> Glasses</p>
<p class="trend-desc">Prescription eyeglasses and sunglasses for all your sport activities</p>
</div>
</div>
</a>
<a href="#" class="center col-6 col-md-6 col-sm-6 " style="padding-right:0;">
<div class="trend-right">
<div class="trend-inner">
<p class="trend-title">Sport <br> Glasses</p>
<p class="trend-desc">Prescription eyeglasses and sunglasses for all your sport activities</p>
</div>
</div>
</a>



    </div>
  
    </div>
    </div></div>



<div class="site-section site-section-sm ">
    <div class="container">
    <div class=" col-md-12 col-sm-12 center"> 

<h2 class="center black heading line">Our Lenses</h2>
</div>
    <div class="col-md-12 col-sm-12">
    <div class="row">
    <a href="#" class="center col-6 col-md-6 col-sm-6 " style="padding-left:0;">
<div class="lenses-left">
<div class="trend-inner">

<p class="lenses-title">Progressives</p>
<p class="lenses-desc">Say Goodbye to Multi-Pairs. RGx progressive lenses provide a natural vision for all distances in one pair.</p>
</div>
</div>
</a>
<a href="#" class="center col-6 col-md-6 col-sm-6 " style="padding-right:0;">
<div class="lenses-right">
<div class="trend-inner">
<p class="lenses-title">Glued to a Screen?</p>
<p class="lenses-desc">If you spend more than 5 hours a day in front of a screen, you need <b>Blue Light lenses</b></p>
</div>
</div>
</a>



    </div>
  
    </div>
    </div></div>





  <div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>Blog</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="nonloop-block-3 owl-carousel">
          {% for item in blog %}
                <div class="item">
              <div class="block-4 blog">
                <figure class="block-4-image">
                  <img data-src="{{item.photo}}" alt="" height="200" >
                </figure>
                <div class="block-4-text p-4 blog">
                  <h3>
                    <a href="/blog.html?id={{item.publishedOn}}">{{item.title}}</a>
                  </h3>
                  {# <p>{{ "foo\n\nbar" | striptags(true) | escape | nl2br }}</p> #}
                  <p class="mb-0">{{item.body.slice(0,100) | replace(r/\\n/g, " ") }}</p>
                  <br>
                  <a href="blog.html?id={{item.publishedOn}}" class="text-primary font-weight-bold">Read More</a>
                </div>
              </div>
            </div>
              {% endfor %}
            
            
          </div>
        </div>
      </div>
    </div>
  </div>

  {# <div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>Best Sellers</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="nonloop-block-3 owl-carousel">
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_1.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect one</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_2.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect one</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_3.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect one</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_4.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect one</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="block-4 text-center">
                <figure class="block-4-image">
                  <img src="/assets/images/products/glasses_5.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
                <div class="block-4-text p-4">
                  <h3>
                    <a href="#">Glasses</a>
                  </h3>
                  <p class="mb-0">Finding perfect products</p>
                  <p class="text-primary font-weight-bold">$50</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> #}

  {# {% include "partials/contactform.html" %} #}
  <!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}