
{% extends "layout.njk" %}

{% block content %}
<div class="site-section widht80" data-aos="fade">
        <div class="container">
        <div class="heading21"><span>1: What do you use your glasses for?</span></div>
           <div class="col-md-12 column12-con">
           <div class="col-md-2 float-lef column-style-21">
           <p>Single Vision</p>
           <p>Distance</p>
           <span class="btn21">Included</span>
           </div>
           <div class="col-md-2 float-lef column-style-21">
           <p>Single Vision</p>
           <p>Distance</p>
           <span class="btn21">Included</span>
           </div>
           <div class="col-md-2 float-lef column-style-21">
           <p>Single Vision</p>
           <p>Distance</p>
           <span class="btn21">Included</span>
           </div>
           <div class="col-md-2 float-lef column-style-21">
           <p>Single Vision</p>
           <p>Distance</p>
           <span class="btn21">Included</span>
           </div>
           <div class="col-md-2 float-lef column-style-21">
           <p>Single Vision</p>
           <p>Distance</p>
           <span class="btn21">Included</span>
           </div>
           </div>
        </div>
    </div>

    <div class="site-section widht80" data-aos="fade">
        <div class="container">
        <div class="heading21"><span>1: What do you use your glasses for?</span></div>
          <div class="tab">
          <div class="col-md-4 float-lef column-style-21">
  <button class="tablinks" onclick="openCity(event, 'London')">Fill it out online</button></div>
       <div class="col-md-4 float-lef column-style-21">
  <button class="tablinks" onclick="openCity(event, 'Paris')">Upload or Send later<br>or my Dr. already sent it to you</button></div>
       <div class="col-md-4 float-lef column-style-21">
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Use my saved prescription</button></div>
</div>

<div id="London" class="tabcontent">
<div class="site-section" data-aos="fade">
        <div class="container">
        <div>
        <label for="fname">Prescription Name :</label>
  <input type="text" id="fname" name="fname">
        </div>
        <table>
  <tr>
    <th></th>
    <th>Sphere (SPH)</th>
    <th>Cylinder (CYL)</th>
    <th>Axis (AXI)</th>
     <th>Add (Near addition)</th> 
  </tr>
  <tr>
    <td>Right (OD)</td>
    <td>
    <div class="dropdown1">
  <button onclick="myFunction()" class="dropbtn1">Dropdown</button>
  <div id="myDropdown" class="dropdown1-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
</div>
</td> 
    <td><div class="dropdown1">
  <button onclick="myFunction()" class="dropbtn1">Dropdown</button>
  <div id="myDropdown" class="dropdown1-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
</div></td>
    <td><div class="dropdown1">
  <button onclick="myFunction()" class="dropbtn1">Dropdown</button>
  <div id="myDropdown" class="dropdown1-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
</div></td> 
    <td><div class="dropdown1">
  <button onclick="myFunction()" class="dropbtn1">Dropdown</button>
  <div id="myDropdown" class="dropdown1-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
</div></td>
  </tr>
  <tr>

    <td>Left (OS) </td> 
    <td>
    <div class="dropdown1">
  <button onclick="myFunction()" class="dropbtn1">Dropdown</button>
  <div id="myDropdown" class="dropdown1-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
</div>
</td>
    <td><div class="dropdown1">
  <button onclick="myFunction()" class="dropbtn1">Dropdown</button>
  <div id="myDropdown" class="dropdown1-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
</div> </td> 
    <td><div class="dropdown1">
  <button onclick="myFunction()" class="dropbtn1">Dropdown</button>
  <div id="myDropdown" class="dropdown1-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
</div></td>
  </tr>
  <tr>
    <td>PD</td>
    <td><div class="dropdown1">
  <button onclick="myFunction()" class="dropbtn1">Dropdown</button>
  <div id="myDropdown" class="dropdown1-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
</div>
</td> 
<td><div class="dropdown1">
  <button onclick="myFunction()" class="dropbtn1">Dropdown</button>
  <div id="myDropdown" class="dropdown1-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
</div></td>
    <td><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"> I have 2 numbers for my PD</td> 

  </tr>
  <tr>
    <td>ENear PD</td>
    <td><div class="dropdown1">
  <button onclick="myFunction()" class="dropbtn1">Dropdown</button>
  <div id="myDropdown" class="dropdown1-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
</div></td> 
    <td></td>
    <td></td> 
  </tr>
  
</table>
<div class="section21">
<p>Additional comment about your prescription?</p>
<textarea rows="4" cols="50" name="comment" form="usrform"></textarea>
</div>
<div class="section21">
<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"> I have 2 numbers for my PD
</div>
         </div>
      </div>
   </div>

<div id="Paris" class="tabcontent">
  <div class="col-md-12">
<div class="col-md-6">
<h2>Test1</h2>
</div>  
<div class="col-md-6"></div>  
  <h2>Test1</h2>
  </div>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>heading3</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
</div>
</div>


    <script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn1')) {
    var dropdowns = document.getElementsByClassName("dropdown1-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
{% endblock %}