
{% extends "layout.njk" %}

{% block content %}
<div class="site-section widht80" data-aos="fade">
        <div class="container">
        <div class="heading21"><span>1: What do you use your glasses for?</span></div>
           <div class="col-md-12 column12-con">
           <div class="col-md-2 float-lef column-style-21">
           <p>Single Vision</p>
           <p>Distance</p>
           <span class="btn21">Included</span>
           </div>
           <div class="col-md-2 float-lef column-style-21">
           <p>Single Vision</p>
           <p>Distance</p>
           <span class="btn21">Included</span>
           </div>
           <div class="col-md-2 float-lef column-style-21">
           <p>Single Vision</p>
           <p>Distance</p>
           <span class="btn21">Included</span>
           </div>
           <div class="col-md-2 float-lef column-style-21">
           <p>Single Vision</p>
           <p>Distance</p>
           <span class="btn21">Included</span>
           </div>
           <div class="col-md-2 float-lef column-style-21">
           <p>Single Vision</p>
           <p>Distance</p>
           <span class="btn21">Included</span>
           </div>
           </div>
        </div>
    </div>

    <div class="site-section widht80" data-aos="fade">
        <div class="container">
        <div class="heading21"><span>1: What do you use your glasses for?</span></div>
           <div class="col-md-12 column12-con">           
           <div class="col-md-4 float-lef column-style-21">
           <p>Single Vision</p>
           <p>Distance</p>
           <span class="btn21">Included</span>
           </div>
           <div class="col-md-4 float-lef column-style-21">
           <p>Single Vision</p>
           <p>Distance</p>
           <span class="btn21">Included</span>
           </div>
           <div class="col-md-4 float-lef column-style-21">
           <p>Single Vision</p>
           <p>Distance</p>
           <span class="btn21">Included</span>
           </div>
           </div>
        </div>
    </div>
{% endblock %}